<html>
<head>

</head>
<body>
<form method="post">
    <label> name
        <input type="text">
    </label>
    <label> password
        <input type="password">
    </label>
    <input type="submit" value="Submit">
</form>
</body>
</html>
